{
 "swagger": "2.0",
 "info": {
  "version": "1.0.0",
  "title": "echo-api.endpoints.taller2-161019.cloud.goog"
 },
 "host": "echo-api.endpoints.taller2-161019.cloud.goog",
 "basePath": "/_ah/api",
 "schemes": [
  "https"
 ],
 "consumes": [
  "application/json"
 ],
 "produces": [
  "application/json"
 ],
 "paths": {
  "/echo/v1/consultarTeam": {
   "post": {
    "operationId": "EchoConsultarTeam",
    "parameters": [
     {
      "name": "name",
      "in": "query",
      "required": true,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Team"
      }
     }
    }
   }
  },
  "/echo/v1/createTeam/success": {
   "post": {
    "operationId": "EchoCreateTeam",
    "parameters": [
     {
      "name": "name",
      "in": "query",
      "required": true,
      "type": "string"
     },
     {
      "name": "cantidadDeTitulos",
      "in": "query",
      "required": true,
      "type": "integer",
      "format": "int32"
     },
     {
      "name": "fundationYear",
      "in": "query",
      "required": true,
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Team"
      }
     }
    }
   }
  },
  "/echo/v1/deleteTeam/{name}": {
   "delete": {
    "operationId": "EchoDeleteTeam",
    "parameters": [
     {
      "name": "name",
      "in": "path",
      "required": true,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Team"
      }
     }
    }
   }
  },
  "/echo/v1/editTeam/{name}": {
   "put": {
    "operationId": "EchoEditTeam",
    "parameters": [
     {
      "name": "name",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "cantidadDeTitulos",
      "in": "query",
      "required": true,
      "type": "integer",
      "format": "int32"
     },
     {
      "name": "fundationYear",
      "in": "query",
      "required": true,
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Team"
      }
     }
    }
   }
  },
  "/echo/v1/teamcollection": {
   "get": {
    "operationId": "EchoGetAllTeams",
    "parameters": [ ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/TeamCollection"
      }
     }
    }
   }
  }
 },
 "definitions": {
  "League": {
   "properties": {
    "idLeague": {
     "type": "integer",
     "format": "int32"
    },
    "teamList": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/Team"
     }
    }
   }
  },
  "TeamCollection": {
   "properties": {
    "items": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/Team"
     }
    }
   }
  },
  "Team": {
   "properties": {
    "cantidadDeTitulos": {
     "type": "integer",
     "format": "int32"
    },
    "fundationYear": {
     "type": "integer",
     "format": "int32"
    },
    "leagueidLeague": {
     "$ref": "#/definitions/League"
    },
    "teamName": {
     "type": "string"
    }
   }
  }
 }
}